@import "../scss/defaut/models.scss";
.rx-logos {
  padding: 8px 16px;

  .rx-logo {
    background-color: #565c69;
    width: 37px;
    height: 37px;
    margin-left: 10px;
  }

  .facebook {
    background-color: #3b5998;
  }

  .twitter {
    background-color: #1da1f2;
  }

  .dribbble {
    background-color: #ea4c89;
  }

  .pinterest {
    background-color: #BD081C;
  }


  i {
    color: #FFF;
  }
}

.site-header {
  background: #ffffff;
  box-shadow: 1px 1px 5px #696969;
  position: relative;
  z-index: 10;

  img.logo {
    margin: 12px;
    max-height: calc(100% - 24px);
  }

  .container-logo {
    max-height: 100px;

  }

  .navbar-brand {
    margin: 0;
    padding: 0;
    white-space: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.carousel.image-bg {
  .carousel-item {
    height: 16em;
    background-size: cover;
  }

  .carousel-caption {
    font-size: 2rem;
    font-weight: 900;
    top: 0;
    bottom: 0;

    .bg-cover {
      background: rgba(0, 0, 0, 0.16);
      max-width: 1200px;
      margin: auto;
    }

    .titre {
      margin-bottom: 4%;
      font-size: 2em;
    }
  }


  @include media-min('XS') {
    .carousel-item {
      height: 19em;
    }
  }

  @include media-min('SM') {
    .carousel-item {
      height: 21em;
    }
  }

  @include media-min('MD') {
    .carousel-item {
      height: 25em;
    }
  }

  @include media-min('DD') {
    .carousel-item {
      height: 30em;
    }
  }

  @include media-min('M') {
    .carousel-item {
      height: 35em;
    }
  }

  @include media-min('L') {
    .carousel-item {
      height: 42em;
    }
  }
}
.header-menu {
  background-color: $color1;
  padding: 0;

  .navbar-nav {
    .nav-item {
      text-align: center;
      text-transform: uppercase;
    }

    .nav-link {
      padding: 10px 15px;
      font-size: 16px;
      font-weight: 400;
      color: #FFF;
    }

    .nav-link.is-active,
    .nav-link:hover {
      background: darken($color1, 15);
      color: #FFF;
    }

    @include media-breakpoint-up(md) {
      .nav-link {
        padding: 25px 15px;
        font-size: 18px;
      }

      .nav-link.is-active {
        background: darken($color1, 15);
      }
    }
  }

  .navbar-toggler {
    margin: 15px;
  }
}

.site-header {
  background: #ffffff;
  box-shadow: 1px 1px 5px #696969;
  position: relative;
  z-index: 10;

  img.logo {
    margin: 12px;
    max-height: calc(100% - 24px);
  }

  .container-logo {
    max-height: 100px;

  }

  .navbar-brand {
    margin: 0;
    padding: 0;
    white-space: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@import "../scss/defaut/defaultStyle.scss";
.card-icone-model-flat {
  .sectionspace {
    margin-top: $margin_top;
    margin-bottom: $margin_bottom;
  }

  .card {
    border: none;
    color: $text_normal;

    &:hover {
      .card-header i {
        color: $link_color;
      }
    }
  }

  .card-title {
    color: $text_dark;
    font-weight: 400;
  }

  .card-header {
    font-size: 1em;
    background: transparent;
    border: none;
    padding: 1em;

    i {
      font-size: 4em;
      color: $text_extra_light;
    }
  }
}
.textactionmodele1 {
  background-color: #f5f5f5;

  .sectionspace {
    margin-top: $margin_top;
    margin-bottom: $margin_bottom;
    padding-top: $margin_top/2;
    padding-bottom: $margin_bottom/2;
  }

  .section-titre {
    font-weight: 600;
    color: $text_normal;
  }
}
.carouselcards-modele1 {
  position: relative;

  .sectionspace {
    margin-top: $margin_top;
    margin-bottom: $margin_bottom;
  }

  .header {
    margin-bottom: $margin_top/2;

    .section-title {
      margin-bottom: $margin_top/4;
    }

    .owl-prev,
    .owl-next {
      cursor: pointer;
      background-color: $color1;
      border-radius: 50%;
      width: 40px;
      height: 40px;
      font-size: 26px;
      color: #FFF;
    }
  }

  .header+div {
    owl-nav {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
    }
  }

  .owl-carousel .owl-stage {
    display: flex;

    .card {
      border: 0;
      background: #f5f5f5;
      border-bottom: 2px solid $color1;
      border-radius: 0;

      .card-title {
        text-transform: uppercase;
        font-weight: 600;
      }

      a {
        color: $text_normal;
      }

      &:hover {
        a {
          color: $link_color;
        }
      }
    }

    .card-body {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }
}
.comments-carouselm1 {
  background-color: #f5f5f5;

  .sectionspace {
    margin-top: $margin_top;
    margin-bottom: $margin_bottom;
    padding-top: $margin_top*1;
    padding-bottom: $margin_bottom*0.5;
  }

  .section-titre {
    font-weight: 600;
    color: $text_normal;
  }

  .header {
    margin-bottom: $margin_bottom*0.6;
    position: relative;

    .owl-prev,
    .owl-next {
      cursor: pointer;
      background-color: #f5723d;
      border-radius: 50%;
      width: 40px;
      height: 40px;
      font-size: 26px;
      color: #fff;
    }

    &::before {
      position: absolute;
      top: auto;
      bottom: -20px;
      left: auto;
      right: auto;
      width: 30px;
      height: 1px;
      background-color: #545252;
      content: "";
    }
  }

  .card {
    border: none;
    background: transparent;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    background-repeat: no-repeat;
    padding-left: 100px;
    background-size: 60px;
    background-position: left 20px;

    .card-title {
      color: $text_normal;
      font-weight: 600;
    }

    .card-text {
      margin-bottom: $margin_bottom*0.3;
    }


  }


}
.posts-vertical-m1 {
  .small-block {
    margin-bottom: 15px;
    border-bottom: 1px solid #373738;
    padding-bottom: 15px;

    .img {
      width: 80px;
      margin-right: 15px;
    }

    .text {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: calc(100% - 103px);

      .date {
        font-size: 0.9em;

        i {
          color: $text_light;
        }
      }

      .title {
        margin: 0;
        color: $text_light;
        font-size: 1em;
        white-space: nowrap;
        @include multiLineEllipsis($lineHeight:1.2em, $lineCount: 1, $bgColor: #262626, $text-align:left, $opacity:0.7);
      }
    }
  }
}
.footers-modele1 {
  background-color: #262626;
  color: $text_normal;
  font-size: 1em;

  .sectionspace {
    padding-top: $margin_top*1;
    padding-bottom: $margin_bottom*0.5;
  }

  .card {
    background: transparent;
    border-radius: 0;
    border: none;

    >* {
      background: transparent;
    }

    .card-header {
      margin-bottom: 25px;
      font-size: 1.5em;
      color: #FFF;
      border: none;
      font-weight: 400;
      text-transform: uppercase;
    }
  }

  .tag-cloud {
    margin-bottom: 7px;
    font-weight: 300;
    font-size: 0.9em;
    margin-right: 5px;
  }
}