@import "../scss/defaut/models.scss";
.rx-logos {
  padding: 8px 16px;

  .rx-logo {
    background-color: #565c69;
    width: 37px;
    height: 37px;
    margin-left: 10px;
  }

  .facebook {
    background-color: #3b5998;
  }

  .twitter {
    background-color: #1da1f2;
  }

  .dribbble {
    background-color: #ea4c89;
  }

  .pinterest {
    background-color: #BD081C;
  }


  i {
    color: #FFF;
  }
}

.site-header {
  background: #ffffff;
  box-shadow: 1px 1px 5px #696969;
  position: relative;
  z-index: 10;

  img.logo {
    margin: 12px;
    max-height: calc(100% - 24px);
  }

  .container-logo {
    max-height: 100px;

  }

  .navbar-brand {
    margin: 0;
    padding: 0;
    white-space: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.carousel.image-bg {
  .carousel-item {
    height: 16em;
    background-size: cover;
  }

  .carousel-caption {
    font-size: 2rem;
    font-weight: 900;
    top: 0;
    bottom: 0;

    .bg-cover {
      background: rgba(0, 0, 0, 0.16);
      max-width: 1200px;
      margin: auto;
    }

    .titre {
      margin-bottom: 4%;
      font-size: 2em;
    }
  }


  @include media-min('XS') {
    .carousel-item {
      height: 19em;
    }
  }

  @include media-min('SM') {
    .carousel-item {
      height: 21em;
    }
  }

  @include media-min('MD') {
    .carousel-item {
      height: 25em;
    }
  }

  @include media-min('DD') {
    .carousel-item {
      height: 30em;
    }
  }

  @include media-min('M') {
    .carousel-item {
      height: 35em;
    }
  }

  @include media-min('L') {
    .carousel-item {
      height: 42em;
    }
  }
}
.header-menu {
  background-color: $color1;
  padding: 0;

  .navbar-nav {
    .nav-item {
      text-align: center;
      text-transform: uppercase;
    }

    .nav-link {
      padding: 10px 15px;
      font-size: 16px;
      font-weight: 400;
      color: #FFF;
    }

    .nav-link.is-active,
    .nav-link:hover {
      background: darken($color1, 15);
      color: #FFF;
    }

    @include media-breakpoint-up(md) {
      .nav-link {
        padding: 25px 15px;
        font-size: 18px;
      }

      .nav-link.is-active {
        background: darken($color1, 15);
      }
    }
  }

  .navbar-toggler {
    margin: 15px;
  }
}

.site-header {
  background: #ffffff;
  box-shadow: 1px 1px 5px #696969;
  position: relative;
  z-index: 10;

  img.logo {
    margin: 12px;
    max-height: calc(100% - 24px);
  }

  .container-logo {
    max-height: 100px;

  }

  .navbar-brand {
    margin: 0;
    padding: 0;
    white-space: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@import "../scss/defaut/defaultStyle.scss";
.card-icone-model-flat {
  .sectionspace {
    margin-top: $margin_top;
    margin-bottom: $margin_bottom;
  }

  .card {
    border: none;
    color: $text_normal;

    &:hover {
      .card-header i {
        color: $link_color;
      }
    }
  }

  .card-title {
    color: $text_dark;
    font-weight: 400;
  }

  .card-header {
    font-size: 1em;
    background: transparent;
    border: none;
    padding: 1em;

    i {
      font-size: 4em;
      color: $text_extra_light;
    }
  }
}
.textactionmodele1 {
  background-color: #f5f5f5;

  .sectionspace {
    margin-top: $margin_top;
    margin-bottom: $margin_bottom;
    padding-top: $margin_top/2;
    padding-bottom: $margin_bottom/2;
  }

  .section-titre {
    font-weight: 600;
    color: $text_normal;
  }
}
.carouselcards-modele1 {
  position: relative;

  .sectionspace {
    margin-top: $margin_top;
    margin-bottom: $margin_bottom;
  }

  .header {
    margin-bottom: $margin_top/2;

    .section-title {
      margin-bottom: $margin_top/4;
    }

    .owl-prev,
    .owl-next {
      cursor: pointer;
      background-color: $color1;
      border-radius: 50%;
      width: 40px;
      height: 40px;
      font-size: 26px;
      color: #FFF;
    }
  }

  .header+div {
    owl-nav {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
    }
  }

  .owl-carousel .owl-stage {
    display: flex;

    .card {
      border: 0;
      background: #f5f5f5;
      border-bottom: 2px solid $color1;
      border-radius: 0;

      .card-title {
        text-transform: uppercase;
        font-weight: 600;
      }

      a {
        color: $text_normal;
      }

      &:hover {
        a {
          color: $link_color;
        }
      }
    }

    .card-body {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }
}
.comments-carouselm1 {
  background-color: #f5f5f5;

  .sectionspace {
    margin-top: $margin_top;
    margin-bottom: $margin_bottom;
    padding-top: $margin_top*1;
    padding-bottom: $margin_bottom*0.5;
  }

  .section-titre {
    font-weight: 600;
    color: $text_normal;
  }

  .header {
    margin-bottom: $margin_bottom*0.6;
    position: relative;

    .owl-prev,
    .owl-next {
      cursor: pointer;
      background-color: #f5723d;
      border-radius: 50%;
      width: 40px;
      height: 40px;
      font-size: 26px;
      color: #fff;
    }

    &::before {
      position: absolute;
      top: auto;
      bottom: -20px;
      left: auto;
      right: auto;
      width: 30px;
      height: 1px;
      background-color: #545252;
      content: "";
    }
  }

  .card {
    border: none;
    background: transparent;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    background-repeat: no-repeat;
    padding-left: 100px;
    background-size: 60px;
    background-position: left 20px;

    .card-title {
      color: $text_normal;
      font-weight: 600;
    }

    .card-text {
      margin-bottom: $margin_bottom*0.3;
    }


  }


}
.posts-vertical-m1 {
  .small-block {
    margin-bottom: 15px;
    border-bottom: 1px solid #373738;
    padding-bottom: 15px;

    .img {
      width: 80px;
      margin-right: 15px;
    }

    .text {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: calc(100% - 103px);

      .date {
        font-size: 0.9em;

        i {
          color: $text_light;
        }
      }

      .title {
        margin: 0;
        color: $text_light;
        font-size: 1em;
        white-space: nowrap;
        @include multiLineEllipsis($lineHeight:1.2em, $lineCount: 1, $bgColor: #262626, $text-align:left, $opacity:0.7);
      }
    }
  }
}
.footers-modele1 {
  background-color: #262626;
  color: $text_normal;
  font-size: 1em;

  .sectionspace {
    padding-top: $margin_top*1;
    padding-bottom: $margin_bottom*0.5;
  }

  .card {
    background: transparent;
    border-radius: 0;
    border: none;

    >* {
      background: transparent;
    }

    .card-header {
      margin-bottom: 25px;
      font-size: 1.5em;
      color: #FFF;
      border: none;
      font-weight: 400;
      text-transform: uppercase;
    }
  }

  .tag-cloud {
    margin-bottom: 7px;
    font-weight: 300;
    font-size: 0.9em;
    margin-right: 5px;
  }
}
.imagetextrightleft-modelm1 {
  $dacalage_imagetextrightleft_modelm1: 150px;
  $magetextrightleft_modelm1_color: #3c5265;


  >.container {
    max-width: 100% !important;

    .row.body {
      >div:first-child {
        background: $magetextrightleft_modelm1_color;
      }

      >div:last-child {
        background: darken($magetextrightleft_modelm1_color, 30);
        @include linear-gradient(#ac32e4, darken($magetextrightleft_modelm1_color, 10));
      }
    }
  }

  .text-body {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-top: $margin_top;
    margin-bottom: $margin_bottom;
    color: #fff !important;

    @include media-min(DD) {
      margin-right: $dacalage_imagetextrightleft_modelm1 - 60px;
      margin-top: $margin_top * 2;
      margin-bottom: $margin_bottom * 2;
    }

    @include media-min(M) {
      margin-right: $dacalage_imagetextrightleft_modelm1 - 30px;
    }

    @include media-min(LM) {
      margin-right: $dacalage_imagetextrightleft_modelm1;
    }

    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.2em;


    .title {
      @include media-min(DD) {
        font-size: 2.5em;
      }

      @include media-min(M) {
        font-size: 3em;
      }

      @include media-min(LM) {
        font-size: 4em;
      }

      font-weight: 900;
      line-height: 100%;
      margin-bottom: 30px;
    }

    .text {
      text-align: justify;
    }
  }

  .text-body.left {
    margin-left: 0;
    margin-right: auto;
  }

  .text-body.image {
    margin: 0;
    max-width: 100%;
    padding-top: $margin_top / 2;
    padding-bottom: $margin_bottom / 2;
    height: 100%;

    img {
      @include media-min(DD) {
        width: calc(100% + #{$dacalage_imagetextrightleft_modelm1} - 60px);
        max-width: calc(100% + #{$dacalage_imagetextrightleft_modelm1} - 60px);
        transform: translateX(-$dacalage_imagetextrightleft_modelm1 + 60px);
      }

      @include media-min(M) {
        width: calc(100% + #{$dacalage_imagetextrightleft_modelm1} - 30px);
        max-width: calc(100% + #{$dacalage_imagetextrightleft_modelm1} - 30px);
        transform: translateX(-$dacalage_imagetextrightleft_modelm1 + 30px);
      }

      @include media-min(LM) {
        width: calc(100% + #{$dacalage_imagetextrightleft_modelm1});
        max-width: calc(100% + #{$dacalage_imagetextrightleft_modelm1});
        transform: translateX(-$dacalage_imagetextrightleft_modelm1);
      }
    }
  }
}

$cardsmodel2_color: #3c5265;
$cardsmodel2_lineHeight: 1.5em;
$cardsmodel2_lineCount: 5.31;
$cardsmodel2_bg: #ffffff;

.cardsmodel2 {
  font-size: 1.2em;
  background: $cardsmodel2_bg;

  .sectionspace {
    margin-top: $margin_top;
    margin-bottom: $margin_bottom;

    @include media-min(DD) {
      margin-top: $margin_top * 1.5;
      margin-bottom: $margin_bottom * 1.5;
    }
  }

  .header {
    text-align: center;

    .title {
      @include media-min(DD) {
        font-size: 2.5em;
      }

      @include media-min(M) {
        font-size: 3em;
      }

      @include media-min(LM) {
        font-size: 4em;
      }

      font-weight: 900;
      line-height: 100%;
      margin-bottom: $margin_top/2;
      color:$cardsmodel2_color;
    }

    .desc {
      margin-bottom: $margin_top;
    }
  }

  .card {
    border: none;
    color: $text_normal;
    flex-direction: row;
    margin-bottom: $margin_top*0.7;
    background: $cardsmodel2_bg;
    cursor: pointer;

    @include media-min(DD) {
      @include multiLineEllipsis($lineHeight:$cardsmodel2_lineHeight, $lineCount: $cardsmodel2_lineCount, $bgColor: white, $text-align:left, $opacity:1, $ellipsis-margin-right:32px);
    }

    .card-text {
      padding-bottom: 0px;
      @include transition($propriete:all, $temps:0.3s, $style:ease-in-out);
    }

    &:hover {
      // remove eclipse on hover
      overflow: visible;
      z-index: 1;

      .card-text {
        background: inherit;

        @include media-min(DD) {
          padding-bottom: 20px;
        }
      }

      &::before,
      &::after {
        display: none;
      }

      .card-header i {
        color: $link_color;
      }
    }
  }

  .card-header {
    font-size: 1em;
    background: $cardsmodel2_color;
    border: none;
    padding: 0.5em;
    border-radius: calc(0.25rem - 1px) 0 0 calc(0.25rem - 1px);

    i {
      font-size: 2em;
      width: 2em;

      @include media-min(DD) {
        font-size: 3em;
      }

      color: $text_extra_light;
      text-align: center;

      max-width: 100%;
    }
  }

  .card-body {
    padding-top: 0;
    padding-bottom: 0;
    background: inherit;

    .card-title {
      color: $cardsmodel2_color;
      font-weight: 600;
    }
  }


}

$cardsmodel2_color: #3c5265;
$cardsmodel2_lineHeight: 1.5em;
$cardsmodel2_lineCount: 5.31;
$cardsmodel2_bg: #eee;

.cardsstepmodel1 {
  font-size: 1.2em;
  background: $cardsmodel2_bg;

  .sectionspace {
    padding-top: $margin_top;
    padding-bottom: $margin_bottom;

    @include media-min(DD) {
      padding-top: $margin_top * 1.5;
      padding-bottom: $margin_bottom * 1.5;
    }
  }

  .header {
    text-align: center;

    .title {
      @include media-min(DD) {
        font-size: 2.5em;
      }

      @include media-min(M) {
        font-size: 3em;
      }

      @include media-min(LM) {
        font-size: 4em;
      }

      font-weight: 900;
      line-height: 100%;
      margin-bottom: $margin_bottom/2;

      @include media-min(DD) {
        margin-bottom: $margin_bottom;
      }

      color:$cardsmodel2_color;
    }

    .desc {
      margin-bottom: $margin_top;
    }
  }

  .card {
    border: none;
    color: $text_normal;
    margin-bottom: $margin_top*0.7;
    background: #FFF;

    @include media-min(DD) {
      height: 100%;
      margin-bottom: 0;
    }

    .circle {
      padding: 0;
      border-radius: 50%;
      width: 1.84em;
      height: 1.84em;
      line-height: 100%;
      display: flex !important;
      justify-content: center;
      align-items: center;
      border-color: $text_normal !important;
      border-width: 3px !important;
      z-index: 2;
      background: #FFF;
    }

    .svg-icon {
      height: 25px;
      width: 25px;
      position: absolute;
      right: calc(0.5em - 9px);

      >path {
        stroke: #000;
        fill: #000;
      }
    }
  }

  .card-header {
    font-size: 3em;
    background: transparent;
    border: none;
    padding: 0.5em;
    border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      top: auto;
      bottom: auto;
      width: 0.8em;
      left: 0.5em;
      height: 3px;
      background: $text_normal;
    }

    &::after {
      content: '';
      position: absolute;
      top: auto;
      bottom: auto;
      width: 0.8em;
      right: 0.5em;
      height: 3px;
      background: $text_normal;
    }
  }

  .card-header.first {
    color: $link_color;

    .circle {
      border-color: $link_color !important;
    }

    .svg-icon {
      >path {
        stroke: $link_color;
        fill: $link_color;
      }
    }

    &::after {
      background: $link_color;
    }

    &::before {
      display: none;
    }
  }

  .card-header.last {
    .svg-icon {
      display: none;
    }

    &::after {
      display: none;
    }
  }

  .card-body {
    padding-top: 0;
    background: inherit;

    .card-title {
      color: $cardsmodel2_color;
      font-weight: 600;
    }
  }


}
