<div class="form-view-exposed-custom">
<div class="form-container">
  <div class="form-container-left">
    {{ content.left }}
  </div>
  <div class="form-container-right">
    {{ content.right }}
    <div class="js-options"><span class="text-secondary"><i class="fas fa-cog pr-2"></i> Plus de critères</span></div>
  </div>
</div>

<div class="form-container">
  <div class="form-container-bottom">
    {{ content.bottom }}
  </div>
</div>
</div>