<div class="profil-smartadmin">
  <div class="image">{{ content.left }}</div>
  <div class="body">
    <div class="top">{{ content.top }}</div>
    <div class="bottom">{{ content.bottom }}</div>
  </div>
</div>