{%
  set classes = [
    'node',
    'node--type-' ~ node.bundle|clean_class,
    node.isPromoted() ? 'node--promoted',
    node.isSticky() ? 'node--sticky',
    not node.isPublished() ? 'node--unpublished',
    view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
    'clearfix',
    'teaser-theme_builder',
    'block-link'
  ]
%}
<article{{ attributes.addClass(classes) }}>
  <div class="container-image">    
    <div class="image">{{ content.image }}</div>
    <div class="price">{{ content.main }}</div>
    <div class="link_cover"><i class="fas fa-plus"></i>{{ content.link }}</div>
  </div>
  <hr>
</article>